.subscriptions {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: $color-ghost-white;
  position: relative;
  z-index: 2;

  @include vp-1199 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 64px;
    padding-bottom: 70px;
  }

  &::after {
    z-index: -1;
    position: absolute;
    content: "";
    background-image: url("../img/wheels.png");
    background-color: $color-transparent;
    width: 470px;
    height: 494px;
    bottom: -149px;
    right: -183px;
    background-size: cover;

    @include retina {
      background-image: url("../img/wheels@2x.png");
    }

    @include vp-1199 {
      right: -73px;
      bottom: -125px;
      width: 420px;
      height: 444px;
    }

    @include vp-767 {
      display: none;
    }
  }
}

.subscriptions__container {
  h2 {
    padding: 0;
    margin: 0 0 7px -5px;
    font-family: $ff-alumni;
    text-align: center;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50px;
      margin: 0 0 10px -14px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
      margin: 0 0 11px -10px;
    }
  }
}

.subscriptions__list {
  padding: 0;
  margin: -7px 0 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  @include vp-1199 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  @include vp-767 {
    margin: 38px 0 0;
    gap: 35px;
  }
}

.subscriptions__item {
  border: 7px solid $color-transparent;
  padding: 55px 69px 45px;
  min-height: 448px;
  font-style: normal;
  background-color: $color-default-white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  @include vp-1199 {
    margin: 0 118px;
    padding: 55px 69px 44px;
  }

  @include vp-767 {
    min-height: 384px;
    padding: 44px 34px 33px;
    margin: 0;
  }

  h3 {
    padding: 0;
    margin: 0 0 10px;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    text-align: center;

    @include vp-767 {
      font-size: 22px;
      line-height: 24px;
      margin: 0 0 9px;
    }
  }

  p {
    padding: 0;
    margin: 0 0 98px;
    font-weight: 400;
    font-size: 16px;
    color: $color-chambray;

    @include vp-1199 {
      margin: 0 0 100px;
    }

    @include vp-767 {
      margin: 0 0 80px;
    }
  }

  &:hover,
  &:focus {
    border: 7px solid $color-default-white;
    border-image: $gradient-border;
    border-image-slice: 1;

    .subscriptions__button {
      color: $color-default-white;
      border: none;
      background: $gradient-button;
    }
  }
}

.subscriptions__price {
  position: relative;
  margin-bottom: 30px;

  span {
    position: relative;
    font-weight: 700;
    font-size: 60px;
    z-index: 1;
    margin: 0 0 0 -30px;
    color: $color-egyptian-blue;

    @include vp-767 {
      font-size: 48px;
      margin: 0 0 0 -20px;
    }

    &::after {
      position: absolute;
      content: "";
      right: -30px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("../img/svg/icon-ruble.svg");
      width: 30px;
      height: 42px;

      @include vp-767 {
        width: 24px;
        height: 33px;
        background-size: 24px 33px;
        right: -24px;
      }
    }
  }

  .subscriptions__decor {
    position: absolute;
    top: -22px;
    z-index: 0;
    left: 50%;
    font-size: 100px;
    font-weight: 700;
    color: rgba($color-whisper, 0.48);
    overflow-wrap: normal;
    transform: translateX(-50%);

    @include vp-767 {
      font-size: 80px;
    }
  }
}

.subscriptions__button {
  padding: 25px;
  width: 100%;
  margin-top: auto;
  color: $color-default-black;
  border: 2px solid $color-default-black;
  outline: none;
  margin-bottom: 15px;

  @include vp-1199 {
    width: fit-content;
    min-width: 206px;
  }

  @include vp-767 {
    padding: 24px;
  }

  @include hover-focus {
    color: $color-default-white;
    border: none;
    background: $gradient-button;
  }
}
