.swiper-wrapper {
  position: relative;

  &.swiper-wrapper--coaches {
    display: flex;
  }
}

.swiper-container {
  position: relative;

  &--coaches {
    width: 100%;

    @include vp-1199 {
      width: 100%;
      margin: 0;
      padding: 0 35px;
    }

    @include vp-767 {
      padding: 0 26px;
    }
  }

  &--reviews {
    width: 48.4%;
    padding: 0;

    @include vp-1199 {
      width: 83.2%;
    }

    @include vp-767 {
      width: 78.2%;
    }
  }

  .swiper-slide {
    min-height: 294px;
    min-width: 220px;
    width: calc(100% / 4);

    @include vp-1199 {
      min-width: 248px;
    }

    @include vp-1023 {
      min-width: 238px;
    }

    @include vp-767 {
      min-width: 100%;
      min-height: 100%;
    }

    &--reviews {
      width: 100%;
      min-height: 80px;

      @include vp-767 {
        min-width: 226px;
        min-height: 100px;
      }
    }
  }
}

.swiper-navigation {
  position: absolute;
  top: 50%;
  width: 100%;

  &--reviews {
    top: 0;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    z-index: 5;
    background-color: $color-default-white;
    border: none;

    &--reviews {
      top: 120px;
      background-color: $color-transparent;
      width: 40px;

      @include vp-1199 {
        width: 70px;
      }

      @include vp-767 {
        top: 165px;
        width: 35px;
      }
    }
  }

  .swiper-button-prev {
    &--reviews {
      left: 20%;

      @include vp-1199 {
        left: -27px;
      }

      @include vp-767 {
        left: -10px;
      }
    }
  }

  .swiper-button-next {
    &--reviews {
      right: 20%;

      @include vp-1199 {
        right: -27px;
      }

      @include vp-767 {
        right: -10px;
      }
    }
  }

  .swiper-button {
    &.swiper-button-disabled {
      opacity: 0.3;
    }
  }
}
